upstream/commits/*
.vscode/chrome/*
node_modules
.vercel
.next
node_modules
yarn-error.log
yarn.lock
tsconfig.tsbuildinfo
**/public/precache.*.js
**/public/sw.js
**/public/sw.js.map
**/public/workbox-*
build/*
out/*
out.tar
build.tar
ai.log
output.log
